@tailwind utilities;
@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@font-face {
  font-family: GFS Didot;
  src: url("../src/assets/fonts/GFSDidot-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: LexendDeca;
  src: url("../src/assets/fonts/LexendDeca-Regular.ttf");
}

@import "tailwindcss";

body {
  margin: 0;
  background: radial-gradient(at 50% 0%, #15015f 0%, #000000 90%);
  min-height: 100vh;
  color: white;
}

@theme {
  --font-didot: GFS Didot, "serif";
  --font-inter: Inter;
  --font-lexend: LexendDeca;
}
